[submodule "lib/afgreader"]
	path = lib/afgreader
	url = https://github.com/mariokostelac/afgreader
[submodule "lib/cmdline"]
	path = lib/cmdline
	url = https://github.com/tanakh/cmdline.git
[submodule "lib/ra"]
	path = lib/ra
	url = git@github.com:mariokostelac/ra.git
